<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>

      <style>
        .navbar1{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          background-color: #69a9ed;
          color: white;
          padding: 1px;
          font-size: 24px;
          display: flex;
          align-items: center;
          width: 100%;
          margin-bottom: 200px;

          
          
      }

      .title1{
          margin-left:30px;
          margin-top: 10px;
      }

      .navbar1 img{
          width: 70px;
          height: 70px;
          margin-top: 0px;
          margin-left: 10px;
      }


      
      .navbar1 .button1 {
        display: inline-block;
        border: solid 1px black;
        border-radius: 2px;
        padding: 10px 20px;
        background-color: #e77171;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 5px;
        margin-left: 950px;
        margin-right: 10px;
        
    }
      </style>

  </head>
  <body class="1">
      <div class="navbar1">
        <img src="/img/logo.jpeg">
        <h1 class="title1">Greek Penguins </h1>
        <a href="/logout"><button type="submit" class="button1">Logout</button></a>
    </div>
  </body>
</html>