<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Paget</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="logo-container">
        <img src="img/logo.jpeg">
    </div>
    <div class="button-login-registration">
        <a href="/login"><button>Login</button></a>
        <a href="signup"><button>Signup</button></a>
    </div>
    <div class="container">
        <div class="description">
            <h1>Enjoy Sailing in Greek Islands!</h1>
            <p>Our main focus is to promote sailing tourism in Ionian island with special focus women (to make society aware about <br> the historical and current
            impact made by women as is it usually underappreciated)<br>
            <br>
            Based on your own interest we would create a personalized route for you combing your favorire interests.
            </p>
    </div>
    <div class="home-img">
        <img src="/img/homeimg.jpeg">
    </div>
    </div>
    
</body>
</html>